{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Heyəti İdarə Et
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_staff' %}" role="button">+ Heyət Artır</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                                

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Heyət Detalları</h3>
                            <div class="card-tools">
                                <form class="form-inline" method="GET", action="/search_staff">
                                    {% if not searched %}
                                      <input class="form-control mr-sm-2" type="search" placeholder="Heyət axtar..." aria-label="Search" name="search">
                                    {% else %}
                                      <input class="form-control mr-sm-2" type="search" placeholder="{{searched}}" aria-label="Search" name="search">
                                    {% endif %}
                                      
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Axtar</button>
                                </form>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Email</th>
                                <th>Adres</th>
                                <th>Son Giriş</th>
                                <th>Qoşulma Tarixi</th>
                                <th>İcra Et</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in staffs %}
                                <tr>
                                <td>{{ staff.admin.id }}</td>
                                <td>{{ staff.admin.first_name }}</td>
                                <td>{{ staff.admin.last_name }}</td>
                                <td>{{ staff.admin.email }}</td>
                                <td>{{ staff.address }}</td>
                                <td>{{ staff.admin.last_login }}</td>
                                <td>{{ staff.admin.date_joined }}</td>
                                <td>
                                    <a href="{% url 'edit_staff' staff.admin.id %}" class="btn btn-success">Dəyiş</a> 
                                    <a href="{% url 'delete_staff' staff.admin.id %}" class="btn btn-danger">Sil</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}